.ionlogo{
    margin: auto;
    width:100px;
    padding:auto;
    color:blue;
}
ion-icon{
    padding-top: 30px;
    font-size: 24px;
 }
 ion-content{
    --ion-background-color:#a80025;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}
 .btmm{
    --background:rgb(55, 49, 49);
 }
 h1{
    font-weight: bolder;
    color:white;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20%;
 }
 .design{
   
      border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%;
    
 }
 .formbg{
   --ion-background-color: white;
 }