<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
     
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="design"></div>
    <ion-img class="imag" src="\assets\Redlogo.png"></ion-img>
    <h1 class="ion-text-center">Login To Your Account!</h1>
 
   <form #loginForm="ngForm"  (submit)="loginData(loginForm)" >
    <div class="formbg">
      <ion-item>
       
        <ion-label position="floating">Username</ion-label>
        <ion-icon name="person" slot="end"></ion-icon>
        <ion-input  required #name="ngModel" name="name" ngModel></ion-input>
        <span *ngIf="name.invalid && name.touched" style="color: red;">Username is Required</span>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-icon name="eye-off" slot="end"></ion-icon>
        <ion-input required #pass="ngModel" name="pass" ngModel></ion-input>
        <span *ngIf="pass.invalid && pass.touched" style="color: red;">Password is Required</span>
      </ion-item>
      </div>
  <br>
      <ion-row >
      <ion-col>
      <ion-button type="submit" class="btmm" name="submit"  expand="block" routerLink="/tabs/tab1" >Login</ion-button><br>
      <div class="ion-text-center"><a class="small-text" style="color:white">Forgotten Password?</a></div>
    </ion-col>
  </ion-row>
    </form>
  
  <p class="ion-text-center" style="color:white">or</p>
    <div class="ion-text-center"><ion-button color="light"  style="color:black" expand="block" routerLink="/auth/register">Sign Up</ion-button></div>
  
  </ion-content>
</div>

  

