.ionlogo{
    margin: auto;
    width:100px;
    padding:auto;
    color:blue;
    margin-top: 13px;
}
ion-icon{
    padding-top: 30px;
    font-size: 24px;
 }
 ion-content{
    --ion-background-color:#a80025;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}

.btmm{
    --background:rgb(55, 49, 49);
 }
 h1{
    font-weight: bolder;
    color:white;
    font-size: 28px;
    margin-bottom: 20%;
    // margin-top: 80%;
 }
 .formbg{
    --ion-background-color: white;
 }