<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="ion-padding">
  <ion-img class="imag" src="\assets\Redlogo.png"></ion-img>
  <h1 class="ion-text-center">Sign Up To Get Started!</h1>
  <form #regisForm="ngForm" (submit)="regisData(regisForm.value)">
    <div class="formbg">
  <ion-item>
    <ion-label  position="floating">Enter Your Name:</ion-label>
    <ion-icon name="person" slot="end"></ion-icon>
    <ion-input  required #name="ngModel" name="name" ngModel></ion-input>
    <span *ngIf="name.invalid && name.touched" style="color: red;">This Field is Required</span>
  </ion-item>
  <ion-item>
    <ion-label  position="floating">Enter Your Email:</ion-label>
    <ion-icon name="mail" slot="end"></ion-icon>
    <ion-input  required #email="ngModel" name="email" ngModel></ion-input>
    <span *ngIf="email.invalid && email.touched" style="color: red;">This Field is Required</span>
  </ion-item>
  <ion-item>
    <ion-label  position="floating">Enter Password</ion-label>
    <ion-icon name="eye-off" slot="end"></ion-icon>
    <ion-input required #pass="ngModel" name="pass" ngModel></ion-input>
    <span *ngIf="pass.invalid && pass.touched" style="color: red;">This Field is Required</span>
  </ion-item>
  <ion-item>
    <ion-label  position="floating">Enter Contact Number:</ion-label>
    <ion-icon name="call" slot="end"></ion-icon>
    <ion-input  required #contact="ngModel" name="contact" ngModel></ion-input>
    <span *ngIf="contact.invalid && contact.touched" style="color: red;">This Field is Required</span>
  </ion-item>
</div><br>
      <ion-button type="submit" expand="block" class="btmm" >Create</ion-button>
    </form>
    <!-- <p class="ion-text-center">or</p>
    <div class="ion-text-center"><ion-button [routerLink]="['/tabs/tab1']" fill="clear" class="btnn" expand="inline">Login</ion-button></div> -->
       