ion-content{
    --ion-background-color:#a80025;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}
.btn{
    --background:white;
    color:black;
}
.btnn{
    --background: rgb(55, 49, 49);
    color: white;
  
}
.imag{
    margin-top: 100px;
    margin-bottom: 90px;
}